<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./test/bootstrap.php"
         displayDetailsOnPhpunitDeprecations="true"
>
    <testsuites>
        <testsuite name="RocketLabs\SellerCenterSdk Unit Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
